{
  "env": {
    "es6": false,
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint-config-airbnb-es5"
  ],
  "rules": {
    "linebreak-style": [
      "error",
      "windows"
    ]
  }
}
