@include reset();

.body {
  background: $white-color;
  color: $white-color;
  font-family: $font-3;

  @media screen and (max-width: 991px) {
    margin-right: 0!important;
  }
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-right: $fields;
  padding-left: $fields;
  margin: 0 auto;

  @include sm-block() {
    max-width: 720px;
  }

  @include md-block() {
    max-width: 960px;
  }

  @include lg-block() {
    max-width: 1140px;
  }
}
