$break__sm: 768px;
$break__md: 992px;
$break__lg: 1200px;
$fields: 15px;

$black-color: #000;
$white-color: #fff;
$brand-color: #19ba9b;
$title-color: #4d4d4d;

$regular-weight: 400;
$bold-weight: 700;

$font-1: "Roboto Condensed", sans-serif;
$font-2: "Roboto Slab", serif;
$font-3: "Roboto", sans-serif;


