$break__sm: 768px;
$break__md: 992px;
$break__lg: 1200px;
$fields: 15px;

$black-color: #000;
$white-color: #fff;
$brand-color: #d93244;

$size-text-base: 18px;
$size-title: 30px;
$size-title-md: 50px;


$regular-weight: 400;
$bold-weight: 700;
$black-weight: 900;

$font-text: "Raleway", sans-serif;
$font-additional: "Roboto", sans-serif;
