.benefits {

  &__inner {
    padding: 60px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__list-item {
    width: 25%;
  }
}

.benefits-item {
  padding: 0 10px;
  font-size: 0;
  text-align: center;

  &__image {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;

    &--idea {
      background-color: #9d9abf;
      background-image: url("../img/icons/idea.png");
      background-size: 27px 41px;

    }

    &--time {
      background-color: #d2514b;
      background-image: url("../img/icons/time.png");
      background-size: 28px 32px;
    }

    &--composition {
      background-color: #66a3c6;
      background-image: url("../img/icons/composition.png");
      background-size: 36px 37px;
    }

    &--money {
      background-color: #e8c04f;
      background-image: url("../img/icons/money.png");
      background-size: 37px 20px;
    }
  }

  &__name {
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: $bold-weight;
  }

  &__text {
    color: #606060;
    font-size: 14px;
    line-height: 24px;
  }
}