.benefits {

  &__inner {
    padding: 60px 0;
    border-bottom: 2px solid #dcdcdc;
  }

  &__list {
    @include sm-block() {
      display: flex;
      flex-wrap: wrap;
      margin-top: -20px;
      margin-bottom: -20px;
    }

    @include md-block() {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__list-item {
    margin-bottom: 20px;

    @include sm-block() {
      width: 50%;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include md-block() {
      width: 25%;
      margin-top: 0;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.benefits-item {
  padding: 0 10px;
  font-size: 0;
  text-align: center;

  &__image {
    display: inline-flex;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 50%;

    &--idea {
      background-color: #9d9abf;
    }

    &--time {
      background-color: #d2514b;
    }

    &--composition {
      background-color: #66a3c6;
    }

    &--money {
      background-color: #e8c04f;
    }
  }

  &__icon {
    background-image: url("../img/icons/sprite.png");
  }

  &__image--idea &__icon {
    width: 27px;
    height: 41px;
    background-position: -0px -89px;
  }

  &__image--time &__icon {
    width: 28px;
    height: 32px;
    background-position: -0px -57px;
  }

  &__image--composition &__icon {
    width: 36px;
    height: 37px;
    background-position: -0px -20px;
  }

  &__image--money &__icon {
    width: 37px;
    height: 20px;
    background-position: -0px -0px;
  }

  &__name {
    margin-bottom: 10px;
    color: $title-color;
    font-family: $font-2;
    font-size: 18px;
    font-weight: $bold-weight;
  }

  &__text {
    color: #606060;
    font-size: 14px;
    line-height: 24px;
  }
}
