.header-top {
  background: #e3e3e3;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    @include md-block() {
      padding: 40px 0;
    }
  }
}