.review {
  background: #f7f7f7;

  &__inner {
    padding: 60px 0;

    @include md-block() {
      padding: 70px 0;
    }
  }

  &__text {
    position: relative;
    width: 70%;
    padding-top: 20px;
    margin-right: auto;
    margin-left: auto;
    color: #a0a0a0;
    font-family: $font-2;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      color: #dcdcdc;
      content: "”";
      font-family: "Arial";
      font-size: 100px;
      transform: translateX(-50%);
    }
  }
}
