.slider {
  background: url("../img/slider-bg.jpg") center no-repeat;
  background-size: cover;

  &__inner {
    padding: 60px 0;
    text-align: center;

    @include sm-block() {
      padding: 90px 0;
    }

    @include md-block() {
      padding-top: 191px;
      padding-bottom: 197px;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: #f2f2f2;
    font-family: $font-2;
    font-size: 28px;
    font-weight: $bold-weight;
    line-height: 1.2;
    text-align: center;

    @include sm-block() {
      font-size: 40px;
    }

    @include md-block() {
      margin-bottom: 37px;
    }
  }

  &__subtitle {
    margin-bottom: 20px;
    color: #a7a7a7;
    font-family: $font-2;
    font-size: 24px;
    font-weight: $bold-weight;
    line-height: 1.2;
    text-align: center;

    @include sm-block() {
      font-size: 32px;
    }

    @include md-block() {
      margin-bottom: 43px;
    }
  }
}
