.works {
  padding: 60px 0;

  &__title {
    color: #4d4d4d;
    font-size: 18px;
    font-weight: $bold-weight;
    line-height: 35px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  &__list-item {
    margin-right: 15px;
    margin-left: 15px;

    @include sm-block() {
      width: calc(33.333% - 30px);
    }
  }
}

.works-item {

  &__image {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: $bold-weight;
  }

  &__subtitle {
    margin-bottom: 20px;
    color: #a7a7a7;
    font-size: 13px;
  }

  &__text {
    color: #5b5b5b;
    font-size: 14px;
    line-height: 28px;
  }
}