.works {

  &__inner {
    padding: 60px 0;

    @include md-block() {
      padding-top: 56px;
      padding-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 10px;
    color: $title-color;
    font-family: $font-2;
    font-size: 18px;
    font-weight: $bold-weight;
    line-height: 1.2;

    @include md-block() {
      margin-bottom: 22px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-left: -7px;
  }

  &__list-item {
    margin-right: 7px;
    margin-left: 7px;

    @include sm-block() {
      width: calc(33.333% - 14px);
    }
  }
}

.works-item {

  &__image {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    @include md-block() {
      height: 270px;
      margin-bottom: 22px;
    }
  }

  &__image:hover &__image-overlay {
    top: 0;
  }

  &__image-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba($black-color, .9);
    content: "";
    transition: top .5s;
  }

  &__image-icon {
    width: 40px;
    height: 40px;
    background: url("../img/icons/loupe.svg");
  }

  &__image-pic {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__title {
    display: inline-block;
    margin-bottom: 10px;
    color: $title-color;
    font-family: $font-2;
    font-size: 18px;
    font-weight: $bold-weight;
    line-height: 1.2;
    transition: color .3s;

    &:hover {
      color: $brand-color;
    }
  }

  &__category {
    margin-bottom: 20px;
    color: #a7a7a7;
    font-family: $font-2;
    font-size: 13px;
    line-height: 1.2;

    @include md-block() {
      margin-bottom: 16px;
    }
  }

  &__text {
    color: #5b5b5b;
    font-size: 14px;
    line-height: 28px;
  }
}
