.logo {
  display: inline-block;
  color: $title-color;
  font-family: $font-1;
  font-size: 32px;
  font-weight: $bold-weight;
  letter-spacing: -3px;
  line-height: 1.1;
  text-transform: uppercase;

  @include sm-block() {
    font-size: 40px;
  }
}
